@charset "UTF-8";

	.agree{
		border: 1px solid #A6A6A6;
		border-radius: 1px;
		padding-top: 10px;
		padding-right: 20px;
		width: 450px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.join{
		text-align: center;
		width: 450px;
		margin: auto;
	}
	
	.bt{
		width: 450px;
	}

	.joinf{
		width: 450px;
		margin-top: 150px;
	}
	table{
		text-align: left;	 	
	}
	
	.tt{
		text-align: left;	
		font-weight: 600; 	
	}
	
	.input{
		width: 450px;
		height: 35px;
		border: 1px solid #A6A6A6;
		border-radius: 5px;
		padding: 2px;
		margin-bottom: 10px;
	}
	
	a:link {
		color: black;
	}
	
	a:visited {
		color: black;
	}
	
	a:hover {
		color: black;
	}
	
	a:active {
		color:black;	
	}
	
	.td{
		color: #A6A6A6;
		font-size: 12px;
	}
	
	
	