	@charset "UTF-8";
	
	*{
		padding: 0;  margin: 0;
	}
	
	a{
		text-decoration: none;
	}
	
	a:link {
		text-decoration: none;
		color: black;
	}
	
	a:visited {
		text-decoration: none;
		color: black;
	}
	
	a:hover {
		color: #00D8FF;
	}
	
	a:active {
		color: #00D8FF;
	}
	
	.login{
		width: 300px;
	}
	
	.bi{
		font-size: 22px;
		line-height: 30px;
	}
	
	.btn_right{
		maigin-tip: 4px;
		font-color: white;
	}
	
	.sidebar {
		padding: 0;
	}
	
	.sidebar > li {
 		display: inline-block;
	}
	
	.logo{
		width: 100px;
  		height: 40px;
  		margin-top: 2px;
	}
	.h-f{
		font-size: 18px;
		font-weight: 700;
	}
	
	.mypage1{
		text-align: center;	
		font-size: 18px;
		font-weight: 700;
	}
	
	.mypage1 > li {
 		display: inline-block;
 		
	}
	.dddd{
		margin-top: 9px;
		margin-right: 20px;
	}
	
	.mypage2{
		text-align: center;	
		font-size: 15px;
		font-weight: 600;
	}
	
	.mypage2 > li {
 		display: inline-block;
	}
	
	.my{
		border: 1px solid #A6A6A6;
		border-radius: 5px;
		height: 550px;
		width: 300px;
		text-align: center;	
	}
	
	.picture{
		height: 150px;
		width: 150px;
		border-radius: 100px;
		margin: 50px;
	}
	
	#nick{
		font-size: 30px;
		font-weight: 800;
		margin-bottom: 8px;
	}
	
	#pbtn{
		margin-top: 10px;
	}
	
	#hr{
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	
	.pp{
		font-size: 40px;
		line-height: 10px;
	}
	
	.ppp{
		width: 300px;
		text-align: center;	
	}
	
	.pppp{
		font-size: 13px;
		margin-top: 5px;
		padding: 5px;
	}
	
	.ppp > tr{
		padding-left: 8px;
		padding-right: 8px;
	}
	
	.po {
		border: 1px dashed #A6A6A6;
		border-radius: 5px;
		width: 900px;
		text-align: left;	
		margin-left: 70px;
		padding : 10px;
		
	}
	
	#d1, #d2{
		margin-top: 50px;
		margin-left: 70px;
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 800;
		
	}
	
	.sky{
		color: #00D8FF;
	}
	
	/* menu list */
	.hidden{
		display: none;
	}
	
	li{ list-style: none; }

	.menu{
	 	width: 100%;  
	 	overflow: hidden;  
	 	padding: 0;
	}
	
	.menu a{
		text-decoration: none;
		color: black;
		width: 100px;
	}
	
	.menu>li{
	    width: 100%;   /*20*5=100%*/ 
	    text-align: center; 
	}
	    
	}.menu ul{
		list-style: none;
		padding: 0;
	}
	
	.submenu>li{
	    line-height: 50px;  
	}
	
	.submenu{
	    height: 0;  /*ul의 높이를 안보이게 처리*/
	    overflow: hidden;
	    text-align: left; 
	    border: 1px solid #A6A6A6;
		border-radius: 5px;
		width: 140px;
	}
	
	.menu>li:hover .submenu{
	    height: 300px;   /*서브메뉴 li한개의 높이 50*5*/
	    transition-duration: 1s;
	}
	.menu a:hover {
		color:#808080;
	}
	
	.dropdown-menu > li {
		height: 50px;
	}
	
	.white{
		color: white;
	}
	
	.major{
		font-size: 18px;
		font-weight: 700;
	}
	
	.lll{
		margin-left: 30px;
	}
	
	.cate > li{
		margin-bottom: 10px;
	}
	
	.mi{
		font-size: 15px;
	}
	
	
	.mimi{
		margin-top: 10px
	}
	
	.sm{
		font-size: 13px;
	}
	
	.product-list {
      display: flex;
      flex-wrap: wrap;
      width:70%;
      margin: auto;
    }
    
    

    .photo {
      float: left;
      height: 90%;
      width: 25%;
      padding: 30px;
      box-sizing: border-box;
    }
    
    .blue{
    	color: skyblue;
    	font-weight: 600;
    }
    .blue-1{
    	font-size: 17px;
    	color: #07dff8;
    	font-weight: 700;
    }
    .cate-price{
    	font-size: 20px;
    	font-weight: 800;
    }
    
    .gray{
    	color: gray;
    	font-weight: 600;
    }
    .cate-con{
    	margin-left: 20px;
    }
    
    
    .skyblue{
    	color: #36d3ef;
    }
    
    .blue:hover {
    	color: skyblue;
    }

    .photo_img {
    	width: 250px;
    	height: 250px;
     	object-fit: cover;
     	margin-bottom: 20px;
    }
    
    .nick{
    	font-weight: 600;
    	margin-top: 5px;
    	margin-left: 10px;
    }
    
    .phtd{
    	width: 200px;

    }
    
    .photo-nick{
    	margin-top: 10px;
    }
    
    .photo-profile{
    	width:50px;
    	height:50px;
    	border-radius: 100px;
    	margin: 0px 0px 0px 10px;
    	text-align: left;
    }
    


    .product-name {
      font-weight: bold;
      margin-top: 5px;
    }

    .product-price {
      color: #999;
      margin-top: 5px;
    }
    
    .post-list {
      display: flex;
      flex-wrap: wrap;
      width:70%;
      margin: auto;
    }
    
    .post {
		float: left;
		height: 100%;
		width: 30%;
		padding:10px;
		box-sizing: border-box;
		text-align: center;	
    }
    
    .main-picture{
    	
    	width: 100%;
    	height: 220px;
     	object-fit: cover;
     	border-radius: 9px;
    }
    
    .bomo{
    	positon: fixed;
    }
    
    .scrap{
    	position: absolute;
    	margin-top: 180px;
    	margin-left: 20px;
    }
    
    .post-title{
    	margin-top:10px;
    	width: 100%;
    	text-align: center;	
    	padding: 0px 20px 0px 20px;
		font-size: 16px;
		font-weight: 800;
    }
    
    .post-nickname{
    	margin-top:8px;
    	text-align: center;	
		font-size: 13px;
    }
    
    .post-cnt{
    	margin-top:8px;
    	text-align: center;	
		font-size: 13px;
		color: gray;
    }
    
    .post a:hover{
    	color: black;
    }
    
    .detail-img{
    	width: 100%;
    	object-fit: cover;
    }
    
    .profile{
    	width:14px;
    	height:14px;
    	border-radius: 100px;
    	margin-bottom: 3px;
    }
    .detail-main{
    	text-align: center;	
    	width:50%;
    	margin: auto;
    }
    .detail-content{
    	width:100%;
    }
    
    
    
    .detd{
    	width: 100px;
    }
    
    .detail-title{
    	width:100%;
    	margin-top:30px;
    	margin-left:15px;
    	text-align: left;	
		font-size: 30px;
		font-weight: 800;
    }
    
    .detail-nink{
    	margin-top: 13px;
    	margin-left: 20px;
    	text-align: left;
    	font-size: 13px;
    	
    }
    .detail-content-1{
    	text-align: center;
    	width: 600px;
    	margin: auto;
    }
    .detail-content-2{
    	text-align: center;
    	width: 100%;
    	margin: auto;
    }
    .detail-content-2 p > img{
    	width: 600px;
    }
     .detail-content-1 p > img{
    	width: 400px;
    }

    .detail-time{
    	font-size: 13px;
    	margin-left: 10px;
    	margin-bottom: 13px;
    	color: gray;
    }
    
    .detail-profile{
    	width:50px;
    	height:50px;
    	border-radius: 100;
    	margin: 0px 0px 0px 10px;
    	text-align: left;
    
    }

    
    .detail-table{
    	margin-top: 20px;
    	margin-bottom: 30px;
    }
    
    .detail-table > tr, td{
    	margin: 0;
    	padding: 0;
    }
    
    .detail-follow{
    	width: 750px;
    	text-align: right;
    }
    
    .photo-icon{
    	display: flex;
      	flex-wrap: wrap;
      	width:100%;
      	margin: auto;
    }
     .photo-mg{
    	margin-left: 10px;
    }
    .uplogo{
    	width: 150px;
  		height: 75px;
  		margin-top: 18px;
    }
    
    .accordion{
    	width: 230px;
    }
    
    .ic{
    	width: 33%;
    	text-align: center;
    }
   	
   	.summer{
   		width: 70%;
   		height: 690px;
   		margin-top: 20px;
   	}
   	
   	.ff{
   		width: 70%;
   	}
   	
   	.upup{
   		width: 70%;
   		text-align: left;
   	}
   	#bbbb{
   		font-weight: 800;

   		margin-left: 10px;
   		color: #272727;
   	}
   	
   	#title{
   		width: 70%;
   		text-align: left;
   		font-size: 20px;
   	}
   	
   	.itit{
   		margin-top: 10px;
   	}
   	
   	
    .product-list2 {
      flex-wrap: wrap;
      width:100%;
      height : 450px;
      margin: 0 auto auto auto;
    }
   	
   	.product {
      float: left;
      height: 100%;
      width: 33%;
      padding: 20px;
      box-sizing: border-box;
    }
    
    .product-picture{
    	width:300px;
    	height:300px;
    	border-radius: 100;
    	margin: 0px 0px 0px 10px;
    	object-fit: cover;
    }
    
    .product-photo{
    	width:500px;
    	height:500px;
    	margin-right: 100px;
    
    }
    
    .product-de{
 
    }
    
    .pr-bn{
    	font-size: 13px;
    	font-weight: 600;
    	color: gray;
    }
    
    .pr-td1{
    	width: 400px;
    }
    
    .pr-name{
    	font-size: 25px;
    	font-weight: 400;
    }
    
    .pr-info{
    	text-align:center;
    	margin: 20px 0 20px 0;
    	padding: 5px;
    	font-size: 25px;
    	color: white;
    	background-color: #cecece;
    }
    
    .pr-h{
    	font-size: 17px;
    	font-weight: 500;
    	color: gray;
    }
    .pr-sale{
    	font-size: 30px;
    	font-weight: 800;
    }
    
    .pr-de{
    	font-size: 12px;
    	font-weight: 800;
    	color : #484848;
    }
    
    .won{
    	font-size: 20px;
    }
    
    .left{
	    float: left;
	}
	
	.right{ 
	    float: right;
	     width: 80%;
	}
	
	.product-main{
		width: 80%;
		margin: auto;
	}
	.my_photo_img{
		width:150px;
    	height:150px;
    	margin:10px;
    	text-align: left;
	}
	
	.ccccccc{
		margin-top: 10px;
		margin-left: 20px;
	}
	/*상품 상세 페이지*/
	.pr-price{
		text-decoration: line-through;
	}
	
	/*회원 수정 페이지*/
   	.update{
		width: 60%;
		text-align: center;
		margin: auto;
		margin-bottom: 100px;
		border: 1px solid #bfbfbf;
		padding : 30px;
		border-radius: 5px;
	}
	
	.title{
		font-size: 25px;
		font-weight: 800;
	}
	.update-table{
		text-align: center;
		width: 500px;
	}
	.update-input{
		margin-top: 40px;
		margin-left: 20px;
	}
	
	.update-btn{
		margin-top: 50px;
		text-align: left;
		margin-left: 20px;
	}
	   	footer{
    border-top: 1px solid #e4e4e4;
    background-color:#f8f9fa;
    padding:1rem 0;
    margin:1rem 0;
	}

	.footer-message{
    font-weight: bold;
    font-size:0.9rem;
    color:#545e6f;
    margin-bottom:0.3rem;
    margin:0 0 0 0.6rem;
	}
		
	.footer-contact{
    font-size:0.9rem;
    color:#545e6f;
    margin:0.6rem;
	}
		
	.footer-copyright{
    font-size:0.6rem;
    color:#545e6f;
    margin:0.6rem;
	}
	
	 .v-line {
    border-left : thick solid #32a1ce;
    height : 50px;
  	}
   	
	.inner{
		margin-left: 50px;
	}
	.changePw {
	    width: 400px;
	    padding: 40px;
	    color: #292929;
	    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
	    margin: 50px auto;
	}
	.changePW-span{
		font-size: 10px;
		color: gray;
	}
	.changePw-title{
		font-weight: 800px;
	}
	.changePw-input{
		margin-bottom: 10px;
	}
	
	.Pw-input{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.pwbtn{
		width: 100%;
	}
	
	.pw-title{
		font-weight: 700;
		margin-bottom: 20px;
	}
	
	.main-photo{
		text-align: center;
		
	}
	.main-img{
		width: 1200px;
		height: 500px;
		object-fit: cover;
	}
	.main-cate{
		margin: 10px;
		width: 95px;
		height: 125px;
	}
	
	.cate-title{
		font-size: 14px;
		font-weight: 500;
	}