@charset "UTF-8";

.brand{
	width: 60%;
	text-align: center;
	margin: auto;
	margin-bottom: 100px;
}
#title{
	font-size: 50px;
	font-weight: 800;
}

.logo{
	margin-top: 20px;
	width: 160px;
	height: 70px;
}

.title{
	font-size: 25px;
	font-weight: 800;
}

.brand-info{
	text-align: left;
}

.red{
	color: red;
}

.serial_num{
	float: left;
	width: 31%;
}

.ex{
	font-size: 13px;
	color: #7a7a7a;
}

.left{
	margin:5px 3px 0px 3px;
	float: left;
}

.info-td{
	width: 400px;
}

.prtd{
	
	width: 800px;
}

th{
	padding-top:10px;
	width: 200px;
}
.con{
	margin-top: 20px;
}

.bb{
	width: 400px;
}

#agree{
	margin-top: 20px;
}

#margin{
	margin-top: 30px;
}

.table{
	width: 100%;
	display: table;
    table-layout: fixed;
    border: 1px solid gray;
    text-align: center;
    border-collapse: collapse;
}

.table > td{
	display: table-cell;
	width: 33.3%;
}

.table > tr, td {
    border: 1px solid gray;
    padding : 3px;
  }
  
#bold{
	font-size: 20px;
	font-weight: 700;
}

.blue{
	color: #00bcc6;
}

.agree{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 50px;
}
#white{
	color: white;
}

.mama{
	margin:auto;
}

.cate{
	margin-top: 15px;
}

.bbb, #middle{
	margin-top: 10px;
	width: 400px;
}

.summer{
	margin-top:20px;
}

.ff{
	margin-top:20px;
}

.hidden {
     display: none;
     }